<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style type="text/css">
    body {
        font-family: "source-han-sans-traditional";
        font-weight: normal;
        background-color: #000;
        color: #FFF;
        font-size: 14px;
        cursor: default;
    }
    footer,header {
        margin: 0 auto;
        width: 500px;
        overflow: hidden;
    }
    h1,h2 {
        font-family: "source-han-sans-traditional";
        font-weight: normal;
        text-align: left;
        color: #FFF;
        font-size: 16px;
    }
    h1>i, h2>i {
        padding:3px;
    }
    h2 {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    p {
        color: #FFF;
        font-size: 14px;
        line-height: 20px;
    }
    section > div > p.tip {
        text-align: center;
    }
    section > div > p.buttonArea {
        padding: 1px;
        margin: 1px;
        text-align: center;
    }
    section > div > i {
        position: absolute;
        font-size: 160px !important;
        top: -40px;
        right: -40px;
        z-index: 1;
        opacity: 0.1;
    }
    section > div > p.buttonArea > button.startrecBtn {
        background-color: #360;
    }
    section > div > p.buttonArea > button.stoprecBtn {
        background-color: #600;
    }
    button, a.button {
        font-family: "source-han-sans-traditional";
        font-weight: normal;
        font-size: 30px;
        display: inline-block;
        width: auto;
        margin:2px;
        padding: 3px;
        border: 3px solid #333;
        color: #FFF;
        background-color: #333;
        cursor: default;
        min-width: 50px;
        text-align: center;
        transition: all 0.2s;
        transition-delay: 300ms;
        text-decoration: none;
    }
    button:hover, a.button:hover {
        border: 3px solid #FFF;
    }
    button:active, a.button:active {
        background-color: #CCC;
        transition: none;
    }
    button > i, a.button > i {
        padding: 2px;
    }
</style>